/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Vardana, sans-serif;
    color:#1f2022
}
body{
    background-color: #1f2022;
}
